# =========================
# Dependencies
# =========================
node_modules/

# =========================
# SvelteKit build files
# =========================
.svelte-kit/
build/
.output/

# =========================
# Vite
# =========================
dist/
.vite/

# =========================
# Vercel
# =========================
.vercel/

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

# =========================
# TypeScript
# =========================
*.tsbuildinfo